<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <title> 2018年会抽奖系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href = "https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="index">
        <div class="tittle">
            <span>Jabil Lottery</span>
        </div>
        <div class="button-area">
            <div class="menu-content">
                <table class="menu-table">
                    <tr >
                        <td class="menu-table-hover" onclick="skip('mystical')">神 秘 大 奖</td>
                        <td class="menu-table-hover" onclick="skip('special')">特等奖</td>
                    </tr>
                    <tr>
                        <td class="menu-table-hover" onclick="skip('first')">一等奖</td>
                        <td class="menu-table-hover" onclick="skip('second1')">二等奖 ipad</td>
                    </tr>
                    <tr>
                        <td class="menu-table-hover" onclick="skip('second2')">二等奖 sony</td>
                        <td class="menu-table-hover" onclick="skip('third')">三等奖</td>
                    </tr>
                    <tr >
                        <td class="menu-table-hover" onclick="skip('four')">四等奖</td>
                        <td class="menu-table-hover" onclick="skip('five')">五等奖</td>
                        
                    </tr>
                    <tr>
                        <td class="menu-table-hover" onclick="skip('six')">六等奖</td>
                        <td class="menu-table-hover" onclick="skip('sunshine')">阳光普照奖</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
 </body>
</html>